.unordered{
list-style-type:none;
margin:0px;
padding:0px;
border:1px solid black;
}
.unordered li{
    
    padding: 10px 0px 10px 0px;
    cursor:pointer;
}

.ordered{
    margin:0px;
    padding:1%;
}

.ordered li{
    padding: 10px;
}

#mexican-lasagna{
    border: 3px solid purple;
    width:50em;
    
}